*{
    box-sizing: border-box;
    margin: 0;
}
/*Containers*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    Font-size: 15px;
    font-family: 'Spartan', sans-serif;
    font-weight: 400,500,700;
    background-image: url('images/bg-pattern-bottom-desktop.svg'), url('images/bg-pattern-top-desktop.svg');
    background-position: bottom right, top left;
    background-repeat: no-repeat,no-repeat;
}
.intro{
    display: grid;
    grid-template-columns:32em 32em;
    padding: 2em;
    line-height: 1.5em;
    align-items: center;
}
.rating{
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    color: hsl(300, 43%, 22%);
    text-align: center;
}
.info-header{
    display: flex;
    flex-direction: column;
}
.buyers{
    display: grid;
    grid-template-columns:20em 20em 20em;
    grid-gap: 2em;
}
.name-verified{
    display: flex;
    flex-direction: column;
    padding: 2em;
}
/*End of containers*/

/*Header info and ratings*/
.rev{
    display: inline-flex;
    justify-content: space-evenly;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
    padding: 1.3em;   
}
.guru{
    
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
    
}
.tech{
    display: inline-flex;
    justify-content: space-evenly;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
    padding: 1.3em;
}
.Star{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

/*End of header infor and ratings*/

/*Reviews Section*/
.smith{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.8em;
    padding:1.5em;
}
.roberts{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.8em;
    padding:1.5em;
}
.wallace{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.8em;
    padding:1.5em;
}
.username{
    display: flex;
}
.verified{
    color: hsl(333, 80%, 67%);
}
.name{
    color: hsl(0, 0%, 100%);
}
.reviews{
    color: hsl(300, 24%, 96%);
}
.info{
    color: hsl(303, 10%, 53%);
    padding: 2em;
}
.header{
    color:hsl(300, 43%, 22%);
    line-height: 1.1em;
}
.buyers img{
    border-radius: 50%;
}

/*End of reviews8*/

/*media query for smaller devices*/
@media only screen and (max-width:900px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto;
        background-image: url('images/bg-pattern-top-mobile.svg'),url('images/bg-pattern-bottom-mobile.svg');
        background-position: top left,bottom right;
        background-repeat: no-repeat,no-repeat;
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 4em;
    }
    .info-header{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }
    
    .buyers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width:min-content;
    }
    
    .rev{
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 2em;

    }
    .guru{
        display: flex;
        flex-direction: column;
        
        padding: 2em;
    }
    .tech{
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 2em;
    }
    
}
/*End of media query*/
/*footer*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}