*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    Font-size: 15px;
    font-family: 'Spartan', sans-serif;
    font-weight: 400,500,700;
    background-image: url('images/bg-pattern-bottom-desktop.svg'), url('images/bg-pattern-top-desktop.svg');
    background-position: bottom right, top left;
    background-repeat: no-repeat,no-repeat;
}
.intro{
    display: flex;
    justify-content: space-evenly;
    
    /*display: grid;
    grid-template-columns:32em 32em;
    padding: 2em;
    line-height: 1.5em;
    align-items: center;*/
}
.rating{
    display: flex;
    flex-direction: column;
    grid-gap: 2em;
    justify-content: space-between;
    margin: auto;
    
}
.info-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1.8em;
    width: 30vw;
}
.buyers{
    display: grid;
    grid-template-columns:20em 20em 20em;
    grid-gap: 2em;
}
.name-verified{
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-between;
}
.rev{
    display: inline-flex;
    justify-content: space-evenly;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
    width: 400px;
    padding: 1.3em;  
}
.guru{
    display: inline-flex;
    justify-content: space-evenly;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
    width: 400px;
    padding: 1.3em;  
    margin-left: 5em;
}
.tech{
    display: inline-flex;
    justify-content: space-evenly;
    background-color: hsl(300, 24%, 96%);
    border-radius: 0.5em;
    width: 400px;
    padding: 1.3em;  
    margin-left: 10em;
}
.Star{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;    
}
.rate{
    padding: 0.5em;
}
.smith{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.8em;
    padding:1.5em;
    margin: auto;
}
.roberts{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.8em;
    padding:1.5em;
    margin: auto;
    margin-top: 50px;
}
.wallace{
    background-color: hsl(300, 43%, 22%);
    border-radius: 0.8em;
    padding:1.5em;
    margin: auto;
    margin-top: 80px;
}
.username{
    display: flex;
    align-items: center;
}
.verified{
    color: hsl(333, 80%, 67%);
}
.name{
    color: hsl(0, 0%, 100%);
}
.reviews{
    color: hsl(300, 24%, 96%);
}
.info{
    color: hsl(303, 10%, 53%);
    padding: 2em;
    font-size: 0.8em;
    margin-top: 0.6em;
}
.header{
    color:hsl(300, 43%, 22%);
    margin: 0;
    font-size:3em;
    line-height: 1.1em;
}
.buyers img{
    border-radius: 50%;
}
@media only screen and (max-width:900px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: auto;
        background-image: url('images/bg-pattern-top-mobile.svg'),url('images/bg-pattern-bottom-mobile.svg');
        background-position: top left,bottom right;
        background-repeat: no-repeat,no-repeat;
    }
    .intro{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 4em;
    }
    .info-header{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        justify-content: center;
        margin: auto;
    }
    .buyers{
        display: grid;
        grid-template-columns: 80%;
        grid-gap: 1em;
        justify-content: center;
    }
    
    .rating{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .rev{
        display: flex;
        flex-direction: column;
        padding: 2em;
        width: 100%;
    }
    .guru{
        display: flex;
        flex-direction: column;
        padding: 2em;
        margin-left: 0;
        width: 100%;
    }
    .tech{
        display: flex;
        flex-direction: column;
        padding: 2em;
        margin-left: 0;
        width: 100%;
    }
    .Star{
        display: inline-flex;
        justify-content: space-evenly;
    }
    
}
/*footer*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}